/* ------------- Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


/* ------------- General Rules */

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
}

main {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 1px 4px 1px;
    margin: 1px;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 1px 5px 1px 5px;
}


/* ------------- Container */

.container {
    background-color: hsl(0, 0%, 100%);
    max-width: 240px;
    height: 400px;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}


/* ------------- Image*/

img {
    width: 100%;
    border-radius: 10px;
}


/* ------------- Footer*/

.attribution { 
    font-size: 11px; 
    margin-top: 10px;
    text-align: center;
}


.attribution a { 
    color: hsl(228, 45%, 44%); 
}
